<div class='profile-page'>
  <%= render partial: 'shared/user', locals: { user: @user } %>
  <div class='card mx-auto my-3' style='max-width: 440px;'>
    <div class='card-body'>
      <h5 class='card-title'>Bio</h5>
      <h6 class='card-subtitle mb-2 text-body-secondary'><%=@user.bio%></h6>
    </div>
  </div>
  <div>
    <% @user.recent_posts.each_with_index do |post , i| %>
      <%= link_to post_path(post), class: "text-decoration-none" do %>
        <%= render partial: 'shared/post_card', locals: { post: post, i: i } %>
      <% end %>
    <% end %>
    <%= link_to 'See all posts',  user_posts_path(@user), class:'btn btn-primary' %>
  </div>
</div>
