<div class='card mx-auto my-1' style='max-width: 440px;'>
  <div class='post-data'>
    <span class='card-title'>Post by <%= @post.author.name%> </span>
    <div class='ml-1'>
      <small>Comments <%= @post.comments.count%></small>
      <small>Likes <%= @post.likes.count%></small>
    </div>
  </div>
  <div class='card-body'>
    <h5 class='card-title'><%= @post.title%></h5>
    <p class='card-text'><%= @post.text%></p>
    <%= render partial: 'shared/like', locals: { post: @post } %>
  </div>
  <ul class='list-group list-group-flush'>
    <% @post.comments.each do |comment| %>
      <%= render partial: 'comment', locals: { comment: comment } %>
    <% end %>
  </ul>
  <%= render partial: '/shared/comment_form', locals: { post: @post } %>
</div>
